body{
    background-color:lightsalmon;
}
#camera{
    border: mistyrose;
    border-style:solid ;
    border-width: 2px;
    height:300px;
    width:350px;
}
.name_of_object,#Capture_image,#Identify_image{
    font-size:25px;
    color: dimgrey;
}